- hosts: all
  roles:
    - role: geerlingguy.pip
      tags: setup
  tasks:
    - name: update package cache
      ansible.builtin.apt:
        update_cache: yes
      tags: update_cache
    - name: prepare env
      ansible.builtin.template:
        src: .env.j2
        dest: ~/.env
        mode: 0644
      tags: prepare-env
    - name: deploy
      community.docker.docker_container:
        name: redmine
        image: redmine
        restart_policy: always
        ports:
          - 80:3000
        env_file: ~/.env
      tags: deploy
- hosts: webservers
  roles:
    - role: datadog.datadog
      tags: datadog
